label {
    width: 100%;
}

p.corporation {
    color: #fff;
    font-size: 1.5em;
    margin: 0;
    padding-right: 30px;
    margin-bottom: 5px;
}

img.corporation {
    width: 118px;
    height: 140px;
    border: 1px solid #ced4da;
    display: block;
    margin-bottom: 5px;
}

table.corporation {
	white-space: nowrap;    
}

table.corporation th:last-child,
table.corporation td:last-child {
    text-align: center;
}

table.corporationVisualizar td {
	border: none !important;
}
table.corporationVisualizar th {
	border-bottom: none !important;
}

.corporation_jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

checkbox.corporation {
	margin-top: 15px;
}

@media only screen and (max-width: 1024px) {
    .corporationScroll {
        overflow-x: scroll;
    }
}