<!DOCTYPE html> 
<html>
<head>
<meta charset="UTF-8"> 
</head>

<div class="row row-offcanvas row-offcanvas-right">
	<div class="col-12 col-md-9">
		<h1>Cadastro de clientes</h1>
		<a href="#clientelist">Lista de clientes <i class="fa fa-user " aria-hidden="true" style="color: #007bff;"></i></a> 
		<br /> 
	</div>
	
	<div class="col-12 col-md-9" ng-init="carregarEstados();">
		<div class="content">
			<form id="formCliente" ng-submit="salvarCliente();">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Id 
								<input type="text" ng-model="cliente.id" class="form-control border-input" disabled />
							</label>	
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Nome 
								<input type="text" ng-model="cliente.nome" class="form-control border-input" placeholder="Nome" required="required">
							</label>	
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Endereço 
								<input type="text" ng-model="cliente.endereco" class="form-control border-input"  placeholder="Endereço" required="required">
							</label>	
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for"telefone">Telefone 
								<input type="text" id="telefone" ng-model="cliente.telefone" class="form-control border-input" placeholder="Telefone" required="required">
							</label>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Estado
								<select class="form-control" id="selectEstados" ng-model="cliente.estados.id">
									<option value="">Selecione</option>
									<option ng-repeat="est in dataEstados" ng-click="carregarCidades(est)" value="{{est.id}}">{{est.sigla}}</option>
								</select>
							</label>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label>Cidades
								<select class="form-control" id="selectCidades" ng-model="cliente.cidades.id">
									<option value="">Selecione</option>
									<option ng-repeat="cid in cidades" value="{{cid.id}}">{{cid.nome}}</option>
								</select>
							</label>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-info btn-fill btn-wd">Cadastrar</button>
				<button type="submit" class="btn btn-info btn-fill btn-wd" ng-click="$scope.cliente={}">Limpar</button>
			</form>
		</div>
	</div>
</div>

</html>