<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<h2>Lista de clientes</h2>

<a href="#cliente/cadastro">Cadastrar <i class="fa fa-file-o" aria-hidden="true"></i></a>

<br />
<br />

<div ng-controller="clienteController" ng-init="listarClientes()">

    <table class="table table-hover corporation">
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Telefone</th>
            <th>Estado</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <tr ng-repeat="cliente in data | filter:filtro">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.sobrenome}}</td>
                <td>{{cliente.telefone}}</td>
                <td>{{cliente.estados.nome}}</td>
                <td>                
                    <a href href ng-click="visualizarCliente(cliente.id)">
                        <i class="fa fa-search"></i>
					</a>&nbsp
                    <a href ng-click="editarCliente(cliente.id);">
                        <i class="fa fa-pencil-square-o" style="color: #e7971b;"></i>
					</a>&nbsp
                    <a href ng-click="removerCliente(cliente.id);">
						<i class="fa fa-times" style="color: red;"></i>
					</a>                    
                </td>
            </tr>
        </tbody>
    </table>

    <div class="" ng-hide="ocultarNavegacao">
        <button type="button" class="btn btn-info btn-fill btn-wd" ng-click="anterior();">Anterior</button>
        <button type="button" class="btn btn-info btn-fill btn-wd" ng-click="proximo();">Próximo</button>
    </div>

	<br/>
</div>

</html>